<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron">
        <h1><%= title %></h1>
        <p><%= intro %></p>
      </div>
      <div class="row">
        <div class="col-sm-4 text-success"><%= col1 %></div>
        <div class="col-sm-4"><%= col2 %></div>
        <div class="col-sm-4 text-danger"><%= col3 %></div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <img src="/images/152824439_ffcc1b2aa4_b.jpg" class="img-responsive img-thumbnail" />
        </div>
        <div class="col-lg-6">
          <img src="/images/357292530_f225d7e306_b.jpg" class="img-responsive img-thumbnail" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="/images/583519989_1116956980_b.jpg" class="img-responsive img-thumbnail" />
        </div>
        <div class="col-md-6">
          <img src="/images/872027465_2519a358b9_b.jpg" class="img-responsive img-thumbnail" />
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <img src="/images/391560246_f2ac936f6d_b.jpg" class="img-responsive img-thumbnail" />
        </div>
      </div>
    </div>
  </body>
</html>